<!-- 
1-cancello tutto e lascio il routing module
2-vado nell'app-routing-module e definisco i path delle pagine - la default serve per avere una pagina che si apre all'avvio - page no found per avere una pagina se l'url è sbagliato
3-vado nella user-page e creo l'array users: User[] -> ora devo creare il punto 4-
4-creo la cartella Models e creo l'interfaccia user dove vado a definire la classe User 
5-si può usare un sito chiamato json2ts per creare tutte le interfacce necessarie dal file json -> devono avere GLI STESSI NOMI DEL JSON
6-copio i risultati di json2ts nello user.ts e creo le varie interfacce con gli stessi nomi -> poi copio le classi nella interfaccia corrispondente 
7-creo il fetchUsers():void nella user-page-component.ts
8-vedi passaggi scritti nella user-page-component.ts -> creazione della fetch e initUser (non strettamente necessaria)
9-creo l'html in user-page-component.html

10-passo allo user-detail.ts e creo l'Input() user ti tipo User;
11-passo allo user-detail.html e creo gli elementi che conterranno i dettagli dello user.
12-utilizzo lo user-detail dentro alla user-page (al posto del p)
13-creo un altro componente address e metto @Input address di tipo Address (la nostra classe -> NB a volte gli import sono sbagliati quindi da errore!! controllare sempre il path se ci fossero errori quando si chiamano nell'html)
14-vado nel address-card.html e creo la card con gli span ecc


15-FORK PROGETTO LABSTRACTION USERMANAGER PER SPOSTARE TUTTO NEI SERVIZI -> VEDI USERMANAGER -->

<router-outlet></router-outlet>

